body.dark {
    @media (max-width: 700px) {
        .stack, .about {
            &__content {
                p,strong {
                    font-size: 16px;
                }
            }
        }
    }

    @media (max-width: 450px) {
        .stack, .about {
            &__content {
                width: 340px;
                p, strong {
                    font-size: 14px;
                }
            }
        }
    }

    @media (max-width: 380px) {
        .stack, .about {
            h3 {
                font-size: 24px;
            }
            h4 {
                font-size: 18px;
            }
            &__content {
                width: 280px;
                p,strong {
                    font-size: 12px;
                }
            }
        }
    
    }
}