@use '../../abstracts/darkThemeColors'as darkTheme;

body.dark {
    .modal {
        background-color: darkTheme.$secondary-bkg;
        border: 2px solid darkTheme.$container-color;
        border-radius: 5px;
        h4 {
            color: darkTheme.$main-yellow;
        }
        &__text-content {
            p {
                color: darkTheme.$text-color;
            }
        }
        button {
            color: darkTheme.$base-bkg;
            &:hover {
                color: darkTheme.$text-color;
            }
        }

    }
    .hidden {
        display: none;
    }
}