    $base-bkg: #1f1f1e;
    $secondary-bkg: #2b2c2b;
    $container-color: #474A47;
    $container-secondary: #242423;
    $main-yellow: #FDCA40;
    $text-color: #FDFFFC;
    $subtitles-color: #9B9B9B;