    $base-bkg: #FFFFFF;
    $secondary-bkg: #F7F7F7;
    $container-color: #ECEFF3;
    $container-secondary: #EEEFF0;
    $main-yellow: #FDCA40;
    $text-color: #636367;
    $subtitles-color: #9B9B9B;