@use '../../abstracts/lightThemeColors'as lightTheme;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Inter:wght@200;300;400;500&family=Poppins:wght@100;200;300;400;500;600&family=Rubik:wght@300;400;500;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: lightTheme.$text-color;
    font-size: 16px;
}

*:not(h1, h2, h3) {
    font-family: 'Poppins';
}

p {
    font-weight: 300;
    color: lightTheme.$text-color;
    line-height: 1.55;
    font-size: 18px;
}

h3 {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 36px;
}

h4 {
    font-size: 28px;
    font-weight: 400;
    color: lightTheme.$subtitles-color;
    margin-bottom: 32px;
}

body {
    position: relative;
    background-color: lightTheme.$base-bkg;
}

.backgroundStyleWrapper {
    position: relative;
}

.projects-wrapper,
.stack-wrapper,
.about-wrapper,
.header-wrapper,
.contact-wrapper,
.footer-wrapper {
    display: flex;
    justify-content: center;
}

.projects-wrapper,
.stack-wrapper,
.about-wrapper {
    padding: 30px 0;
}

.header-wrapper {
    flex-direction: column;
    padding-top: 34px;
    background: linear-gradient(157.5deg, lightTheme.$base-bkg 44.5%, lightTheme.$secondary-bkg 43%);
}

.footer-wrapper,
.projects-wrapper,
.about-wrapper {
    background-color: lightTheme.$secondary-bkg;
}

.stack,
.projects,
.menu,
header.header,
.about,
section.contact {
    max-width: 1024px;
    margin: 0 auto;
}

.stack-wrapper,
.contact-wrapper {
    background-color: lightTheme.$container-secondary;
}


.header {
    display: flex;
    position: relative;
    width: 1024px;
    min-height: 80vh;
    justify-content: space-between;

    &__introduction {
        position: absolute;
        top: 70px;
        left: 0;
        width: 900px;
        z-index: 1;

        h1,
        h2 {
            font-family: 'Raleway';
            font-weight: 300;
            line-height: 55px;


            span {
                font-weight: 700;
                color: lightTheme.$main-yellow;
            }
        }

        h2 {
            margin-left: 3px;
        }

        h1,
        span {
            margin-top: 50px;
            font-size: 68px;
            display: inline-block;
        }

        h2 {
            font-size: 42px;
            color: lightTheme.$subtitles-color;
        }

        p {
            margin: 35px 0 0 5px;
            font-size: 22px;
            font-weight: 300;
            color: lightTheme.$text-color;
            font-family: 'Inter';
            max-width: 500px;
        }

        button {
            padding: 10px 32px;
            background-color: lightTheme.$main-yellow;
            border: 2px solid lightTheme.$main-yellow;
            border-radius: 3px;
            transition: 0.3s;
            cursor: pointer;
            color: lightTheme.$base-bkg;
            font-size: 20px;
            margin-top: 35px;
            margin-left: 10px;

            &:hover {
                border: 2px solid lightTheme.$main-yellow;
                color: lightTheme.$text-color;
                background-color: transparent;
            }
        }
    }


    &__photo {
        top: -80px;
        right: -260px;
        margin-top: 30px;
        position: absolute;

        img {
            height: 690px;
            width: 830px;
            border-radius: 15px;
        }
    }
}

.side-nav-wrapper {
    position: absolute;
    z-index: 99;

    .side-nav {
        position: fixed;
        display: flex;
        flex-direction: column;
        bottom: 42%;
        right: 35px;
        transition: .3s;

        &__item {
            margin: 12px 0;

            svg {
                width: 30px;
                height: 30px;
                filter: invert(41%) sepia(5%) saturate(256%) hue-rotate(201deg) brightness(90%) contrast(91%);
            }

            &:hover {
                svg {
                    filter: invert(79%) sepia(21%) saturate(1452%) hue-rotate(344deg) brightness(108%) contrast(98%);
                }
            }
        }

        &__item:last-of-type {
            margin-bottom: 12px
        }

        &--hidden {
            pointer-events: none;
        }
    }
}

.menu {
    display: flex;
    min-width: 1040px;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 100px;

    .logo {
        font-family: 'Dancing Script';
        color: lightTheme.$main-yellow;
        font-size: 30px;
    }

    &__list {
        display: flex;
    }

    &__item {
        margin-right: 50px;
        align-self: center;
        font-weight: 400;
        transition: 0.3s ease;
        cursor: pointer;

        &:hover {
            color: lightTheme.$main-yellow
        }
    }

    .theme-switch-wrapper {
        display: flex;
        align-items: center;
    }

    .theme-switch {
        display: inline-block;
        height: 46px;
        position: relative;
        width: 46px;
    }

    .slider {
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: .3s;
        border: 2px solid #ccc;
        border-radius: 34px;

        &:hover {
            border-color: lightTheme.$text-color;
        }
    }

    .slider.light {
        display: flex;
        position: relative;
        border-radius: 34px;
        height: 46px;
        width: 46px;
        justify-content: center;
        text-align: center;

        img {
            position: absolute;
            top: 7px;
            left: 7px;
            height: 28px;
            width: 28px;
            justify-self: center;
            opacity: 1;
            transition: .8s;
        }
    }

    .slider.dark {
        img {
            position: absolute;
            top: 7px;
            left: 7px;
            height: 28px;
            width: 28px;
            transition: .8s;
            opacity: 0;
        }
    }
}

.projects-wrapper {
    justify-content: center;
    padding-bottom: 100px;
    margin: 0;
}

.projects {
    min-height: 80vh;
    margin: 0;
    .swiper-slide-prev, .swiper-slide-next {
        .item__subtitle {
            opacity: 0;
        }
    }
    .swiper-slide-active {
        .item__subtitle {
            opacity: 1;
        }
    }

    &__container {
        // display: flex;
        // flex-direction: row;
        width: 1024px;
        height: 100%;
        margin-top: 75px;
        margin: 75px auto;
    }

    &__item-wrapper {
        // background-color: lightTheme.$container-color;
        // height: 0px;
        max-width: 30%;
        gap: 15px;
        border-radius: 10px;
        flex-grow: 1;
    }

    .item {
        display: flex;
        position: relative;
        box-sizing: padding-box;
        flex-direction: row;
        transition: .5s;
        border-radius: 10px;
        height: 33rem;
        min-width: 100%;
        justify-content: flex-start;
        border: 2px solid #cacaca;
        margin: 4px;
        cursor: pointer;
        overflow: hidden;

        &:hover {
            &__image {
                img {
                    transform: scale(2)
                }
            }
    
        }

        &__image {
            position: absolute;
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;

            img {
                height: 100%;
                width: 100%;
                transition: .7s;
                &:hover {
                    transform: scale(1.05)
                }
                overflow:hidden;
            }
        }


        &:hover {
            border: 2px solid #242423;
        }

        &__subtitle {
            transition: .3s;
            display: flex;
            margin-top: 20px;
            font-size: 32px;
            justify-content: center;
            text-align: center;
            opacity: 0;
        }

        &__techStack {
            position: absolute;
            display: flex;
            padding: 15px;
            top: 20px;
            left: 15px;
            width: 90%;
            border: 1px solid lightTheme.$subtitles-color;
            border-radius: 10px;
            background-color: lightTheme.$base-bkg;
            justify-content: center;
            text-align: center;
            opacity: 0;
            transition: .6s;
            z-index: 99;

            p {
                font-size: 24px;
                font-weight: 400;
                color: #000;
            }
        }
        
    }

}

.stack {
    display: flex;
    margin: 55px 0 55px;
    flex-direction: row;
    min-height: 500px;

    strong {
        font-size: 18px;
        color: lightTheme.$main-yellow;
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-basis: 45%;
        align-items: flex-start;
        align-self: center;
    }

    &__svg {
        position: relative;
        flex-basis: 50%;
    }

    &__image {
        position: absolute;
        width: 100%;
    }

    &__icon {
        position: absolute;
        height: 40px;
        width: 40px;
        z-index: 1;
        transition: 3s;
        filter: invert(79%) sepia(21%) saturate(1452%) hue-rotate(344deg) brightness(108%) contrast(98%);
        opacity: 0;
    }

    @keyframes setOpacity {
        0% {
            filter: invert(79%) sepia(21%) saturate(1452%) hue-rotate(344deg) brightness(108%) contrast(98%);
            opacity: 0
        }

        100% {
            opacity: 1
        }
    }

    //CSS
    &__icon--active:nth-child(2) {
        top: 175px;
        left: 310px;
        animation-name: setOpacity;
        animation-duration: 2s;
        animation-delay: 0.1s;
        animation-fill-mode: forwards;
    }

    &__icon--active {
        animation-name: setOpacity;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }

    //GIT
    &__icon--active:nth-child(3) {
        height: 45px;
        width: 45px;
        top: 40px;
        left: 315px;
        animation-delay: 0.5s;
    }


    //HTML
    &__icon--active:nth-child(4) {
        top: 155px;
        left: 220px;
        animation-delay: 1s;
    }

    //JS
    &__icon--active:nth-child(5) {
        top: 75px;
        left: 230px;
        animation-delay: 1.5s;
    }

    //React
    &__icon--active:nth-child(6) {
        height: 42px;
        width: 42px;
        top: 110px;
        left: 310px;
        animation-delay: 2s;
    }

    //Sass
    &__icon--active:nth-child(7) {
        height: 45px;
        width: 45px;
        top: 120px;
        left: 400px;
        animation-delay: 2.5s;
    }
}

.about {
    display: flex;
    margin: 55px 0 55px;
    flex-direction: row;
    min-height: 400px;
    justify-content: space-between;
    align-items: center;

    strong {
        font-size: 18px;
        color: lightTheme.$main-yellow
    }

    &__content {
        flex-basis: 50%;

        p {
            font-size: 18px;
        }
    }

    &__image {
        flex-basis: 1;
        height: 460px;
        width: 460px;
        background-color: lightTheme.$container-color;
        border-radius: 10px;

        img {
            height: 100%;
            width: 100%;
            border-radius: 5px;
        }
    }
}

.contact {
    display: flex;
    flex-direction: column;
    min-height: 200px;

    h3 {
        margin: 50px 0 30px 0;
        justify-content: center;
        text-align: center;
    }

    p {
        font-size: 18px;
        text-align: center;
        margin-bottom: 40px;
    }

    a {
        margin: 0 auto;
        margin-bottom: 50px;
    }

    button {
        width: 130px;
        background-color: lightTheme.$main-yellow;
        border: 2px solid lightTheme.$main-yellow;
        padding: 10px 0;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            background-color: transparent;
        }
    }
}

.footer {
    display: flex;
    min-height: 120px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
        font-size: 13px;
    }
}


@media (max-width: 1600px) {

    .header {
        &__photo {
            top: -40px;
            right: -150px;
            img {
                height: 590px;
                width: 730px;
            }
        }
    }
}

@media (max-width: 1360px) {

    .header {
        &__photo {
            top: 0px;
            right: -80px;
            img {
                height: 520px;
                width: 630px;
            }
        }
    }
}

@media (max-width: 1220px) {
    .menu {
        min-width: 0;
        width: 80%;
    }

    .header {
        &__photo {
            top: 40px;
            right: 0px;
            img {
                height: 440px;
                width: 530px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .side-nav-wrapper {
        display: none;
    }
}

@media (max-width: 1060px) {

    .header {
        width: 80%;
        &__introduction {
            h1,span {
                font-size: 58px;
            }
            h2 {
                font-size: 36px;
            }
            p {
                font-size: 18px;
                width: 400px;
                margin: 25px 0 0 3px;
                font-family: 'Poppins';
            }
        }
        &__photo {
            top: 0px;
            right: -150px;
            img {
                height: 450px;
                width: 550px;
            }
        }
    }

    .projects-wrapper {
        padding-bottom: 130px;
    }

    .projects {
        &__container {
            width: 820px;
        }
        &__item-wrapper {
            max-width: 38%;
        }
        .item {
            height: 500px;

            &__techStack {
                left: 12.5px;
                padding: 10px 15px;
                p {
                    font-size: 18px;
                }
            }
            &__subtitle {
                font-size: 24px;
            }
        }
    }

    .stack {
        flex-direction: column;
        min-height: 120vh;
        align-items: center;

        &__content {
            width: 700px;
            margin: 0 auto 60px;
        }

        &__svg {
            width: 512px;
            margin-bottom: 100px;
        }
    }

    .about {
        flex-direction: column;
        align-items: center;
        &__content {
            width: 700px;
            margin: 0 auto 50px;
        }
    }
    .contact {
        h3 {
            font-size: 32px;
        }
        p {
            font-size: 16px;
        }
    }
}

@media (max-width: 980px) {

    .header-wrapper {
        background: none;
    }
    .header {
        &__photo {
            display: none;
        }
        &__introduction {
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            width: 90%;
            h1,span {
                font-size: 64px;
            }
            h2 {
                font-size: 38px;
            }
            p {
                font-size: 22px;
                width: 100%;
            }
        }
    }
    .projects {
        margin-top: 70px;
    }
}

@media (max-width: 850px) {
    .projects {
        overflow: hidden;
        &__container {
            width: 700px;
        }
        &__item-wrapper {
            max-width: 38%;
        }
        .item {
            height: 420px;

            &__techStack {
                padding: 10px 15px;
                width: 70%;
                left: 50%;
                border-radius: 5px;
                transform: translate(-50%, 0);
                p {
                    font-size: 16px;
                }
            }
            &__subtitle {
                transition: 0.3s;
                font-size: 26px;
            }
        }
    }
}

@media (max-width: 800px) {
    .stack, .about {
        &__content {
            width: 500px;
        }
    }
}

@media(max-width: 750px) {
    .projects {
        &__container {
            width: 600px;
        }
        &__item-wrapper {
            max-width: 50%;
        }
        .item {
            height: 420px;
        }
    }
}

@media (max-width: 700px) {
    .menu {
        width: 85%;

        &__item {
            display: none;
        }
    }
    .stack, .about {
        &__content {
            p,strong {
                font-size: 16px;
            }
        }
    }

    .stack {
        min-height: 90vh;
        &__svg {
            width: 380px;
            height: 380px;
        }
    //CSS
    &__icon--active:nth-child(2) {
        height: 30px;
        width: 30px;
        top: 130px;
        left: 230px;
    }

    //GIT
    &__icon--active:nth-child(3) {
        height: 34px;
        width: 34px;
        top: 30px;
        left: 240px;
    }


    //HTML
    &__icon--active:nth-child(4) {
        height: 30px;
        width: 30px;
        top: 115px;
        left: 165px;
    }

    //JS
    &__icon--active:nth-child(5) {
        height: 30px;
        width: 30px;
        top: 55px;
        left: 175px;
    }

    //React
    &__icon--active:nth-child(6) {
        height: 32px;
        width: 32px;
        top: 80px;
        left: 235px;
    }

    //Sass
    &__icon--active:nth-child(7) {
        height: 30px;
        width: 30px;
        top: 90px;
        left: 300px;
    }

    }
    .contact {
        h3 {
            font-size: 30px;
        }
        p {
            font-size: 14px;
            margin-bottom: 30px;
        }
    }

}

@media (max-width: 650px) {
    .projects-wrapper {
        padding-bottom: 30px;
    }
    .projects {
        &__container {
            width: 450px;
        }
        &__item-wrapper {
            max-width: 50%;
        }
        .item {
            height: 380px;
            &__techStack {
                width: 84%;
            }
        }
    }
}

@media (max-width: 600px) {
    .header {
        &__introduction {
            width: 100%;
            margin: 0 auto;
            h1,span {
                font-size: 54px;
            }
            h2 {
                font-size: 32px;
            }
            p {
                width: 300px;
                font-size: 18px;
                margin-top: 20px;
            }
            button {
                padding: 8px 24px;
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 550px) {
    .stack, .about {
        h3 {
            font-size: 30px;
        }
        h4 {
            font-size: 22px;
        }
        &__content {
            width: 400px;
        }
    }
    .about {
        &__image {
            height: 320px;
            width: 320px;
        }
    }
    .contact {
        h3 {
            margin: 50px 0 20px 0;
        }
    }
    .footer {
        p {
            font-size: 10px;
        }
    }
}

@media (max-width: 500px) {
    .projects-wrapper {
        height: 670px;
    }
    .projects {
        &__container {
            width: 390px;
        }
        &__item-wrapper {
            max-width: 48%;
        }
        .item {
            height: 310px;
            &__techStack {
                p {
                    font-size: 13px;
                }
            }
            &__subtitle {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 450px) {
    .header {
        max-height: 60vh;
        &__introduction {
            h1, span {
                font-size: 44px;
            }
            h2 {
                font-size: 28px;
            }
            p {
                font-size: 16px;
                margin-top: 15px;
            }
        }
    }
    .stack, .about {
        &__content {
            width: 340px;
            p {
                font-size: 14px;
            }
        }
    }
    .contact {
        button {
            width: 100px;
            font-size: 14px;
            padding: 10px 15px;
        }
    }
}

@media (max-width: 430px) {
    .projects {
        &__container {
            width: 340px;
        }
        &__item-wrapper {
            max-width: 54%;
        }
        .item {
            height: 300px;
            &__techStack {
                width: 86%;
            }
        }
    }
}

@media (max-width: 380px) {
    .header {
        min-height: 60vh;
        &__introduction {
            span {
                margin-top: 0;
            }
            h1, span {
                font-size: 38px;
            }
            h2 {
                font-size: 26px;
                margin: 0;
            }
            p {
                margin-left: 0;
            }
            button {
                margin-left: 3px;
            }
        }
    }
    .stack, .about {
        h3 {
            font-size: 24px;
        }
        h4 {
            font-size: 18px;
        }
        &__content {
            width: 280px;
            p,strong {
                font-size: 12px;
            }
        }
    }
    
    .stack { 
        min-height: 75vh;
        &__svg {
            // height: 300px;
            width: 300px;
        }
        //CSS
        &__icon--active:nth-child(2) {
            height: 24px;
            width: 24px;
            top: 105px;
            left: 185px;
        }
    
        //GIT
        &__icon--active:nth-child(3) {
            height: 26px;
            width: 26px;
            top: 25px;
            left: 192px;
        }
    
    
        //HTML
        &__icon--active:nth-child(4) {
            height: 24px;
            width: 24px;
            top: 90px;
            left: 135px;
        }
    
        //JS
        &__icon--active:nth-child(5) {
            height: 24px;
            width: 24px;
            top: 47px;
            left: 143px;
        }
    
        //React
        &__icon--active:nth-child(6) {
            height: 26px;
            width: 26px;
            top: 65px;
            left: 185px;
        }
    
        //Sass
        &__icon--active:nth-child(7) {
            height: 26px;
            width: 26px;
            top: 70px;
            left: 237px;
        }
    }
    

}

@media (max-width: 370px) {
    .projects {
        &__container {
            width: 300px;
        }
        &__item-wrapper {
            max-width: 54%;
        }
        .item {
            height: 270px;
            &__techStack {
                width: 86%;
                p {
                    font-size: 10px;
                }
            }
            &__subtitle {
                font-size: 18px;
            }
        }
    }
}
